services:
  tailscale:
    image: tailscale/tailscale:latest
    hostname: lab-gateway
    env_file: .env
    environment:
      - TS_AUTHKEY={% raw %}${TS_AUTHKEY}{% endraw %}
      {% if tailscale_advertise_container %}
      - TS_EXTRA_ARGS=--advertise-tags=tag:container
      {% endif %}
      - TS_STATE_DIR={{ tailscale_state_dir }}
      - TS_USERSPACE=false
    volumes:
      - /root/tailscale/state:{{ tailscale_state_dir }}
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - net_admin
      - sys_module
    restart: unless-stopped
  nginx-ts-proxy:
    image: ghcr.io/vpavin/nginx-stream:main
    depends_on:
      - tailscale
    volumes:
      - /root/nginx/proxy.conf:/etc/nginx/nginx.conf
    restart: unless-stopped
    network_mode: service:tailscale
  nginx-gateway:
    image: ghcr.io/vpavin/nginx-stream:main
    depends_on:
      - nginx-ts-proxy
    ports:
      - "{{ nginx_udp_port }}:{{ nginx_udp_port }}/udp"
    volumes:
      - /root/nginx/gateway.conf:/etc/nginx/nginx.conf
    restart: unless-stopped
